@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Poppins&display=swap");

/*cores*/
:root {
  --btnhover-color: #ff8c8c;
  --btn-color: #ffdeb4;
  --btn2-color: #e29578;

  --p-color: #181818;
  --p2-color: #faf7f0;
  --h1-color: #ff5d5d;

  --header-color: #ff8c8c;
  --bg-color: #faf7f0;

  --textbg-color: #e5989b;
  --textbg2-color: #ffdeb4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

/*configuração do texto*/
p {
  color: var(--p-color);
  text-align: center;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
}

h3 {
  color: var(--p-color);
  text-align: center;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--h1-color);
  text-align: center;
  font-size: 60px;
  font-family: "Tommy";
}

/*fim da configuração do texto*/

/*scrollbar*/
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--btnhover-color);
  border-radius: 50px;
}

/*fim da scrollbar*/

/*header*/

nav {
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  height: 68px;
  width: 100%;
  display: inline-block;
}

nav ul li {
  margin-left: 30px;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: var(--header-color);
  display: inline-block;
  justify-content: space-between;
  padding: 13px 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--h1-color);
  list-style: none;
  cursor: pointer;
}

nav ul li a:hover {
  background-color: var(--btn-color);
  border-radius: 30px;
  transition: 0.4s;
  width: 300px;
  color: var(--bg-color);
}

/*fim da header*/

/*codificador*/
.image-section {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.image-section img {
  width: 10%;
  height: auto;
}

section {
  padding: 10px 20%;
}

#text-encode-decode {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*lado esquerdo do container*/

textarea {
  margin-top: 10px;
  resize: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 320px;
  width: 100%;
  border-radius: 15px;
  padding: 20px;
}

::placeholder {
  color: var(--btn2-color);
  font-size: 16px;
}

.input {
  width: 41rem;
  height: 30rem;
  border-radius: 6px;
  margin-left: 10px;
  background-color: var(--bg-color);
  resize: none;
  border-color: var(--textbg-color);
  outline: none;
  align-items: center;
  padding: 30px;
}

/*fim do lado esquerdo do container*/

/*lado direito do container*/
.right-container {
  position: relative;
  width: 20rem;
  height: 30rem;
  border-radius: 6px;
  background-color: var(--textbg2-color);
  margin-left: 30px;
}

.decode-text {
  position: absolute;
  width: 100%;
  height: 90%;
  text-align: justify;
  padding: 20px;
  overflow: auto;
  word-break: break-word;
  font-family: "Poppins", sans-serif;
}

/*texto de resposta ao lado direito*/
.resposta {
  position: absolute;
  width: 100%;
  height: 90%;
  text-align: justify;
  padding: 20px;
  overflow: auto;
  word-break: break-word;
}
/*fim do texto de resposta ao lado direito*/

/*campo de escolha*/
fieldset {
  border: none;
  font-family: "Poppins", sans-serif;
  color: var(--h1-color);
}
/*fim do campo de escolha*/

.enviar {
  margin-left: 30px;
  width: 200px;
  height: 50px;
  margin-top: 10px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  color: var(--p2-color);
  cursor: pointer;
  background-color: var(--header-color);
}

.escolhas {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px 10px;
}

.metodo {
  font-size: 16px;
  margin-top: 6px;
  border: 2px solid var(--header-color);
  border-radius: 2px;
  color: var(--footer-bg-color);
  font-family: "Poppins", sans-serif;
}

.passo output {
  padding-top: 1px;
  font-size: 20px;
  background: transparent;
  color: var(--h1-color);
  font-family: "Poppins", sans-serif;
  padding-left: 1px;
  margin-left: 6px;
}

.metodo,
.passo {
  background-color: #ff8c8c6c;
  padding: 10px 15px;
  border-radius: 10px;
}

/*output*/
.resposta {
  position: absolute;
  width: 93%;
  height: 85%;
  text-align: justify;
  overflow: auto;
}

output {
  padding-top: 10px;
  font-size: 20px;
  color: var(--header-color);
}

/*fim do lado direito do container*/

/*botao pra codificar e decodificar*/

.btns {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: 90px;
}

.btns button {
  margin-left: 30px;
  width: 200px;
  height: 50px;
  margin-top: 10px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  color: var(--p2-color);
  cursor: pointer;
  background-color: var(--header-color);
}

.btns button:hover {
  background-color: var(--btn2-color);
  transition: 0.5s;
  color: var(--p2-color);
  border-color: var(--header-color);
}

/*fim do botao pra codificar e decodificar*/

/*botao pra copiar texto*/
.copy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  width: 90%;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  padding: 7px;
  color: var(--p2-color);
  background-color: var(--btn2-color);
}

.copy:hover {
  background-color: var(--btnhover-color);
  transition: 0.3s;
  color: var(--bg-color);
  border-color: var(--btnhover-color);
}

/*fim do botao copiar texto*/

/*footer*/
footer {
  margin-top: 5rem;
  padding: 0 30%;
  height: 142px;
  background-color: var(--footer-bg-color);
}

/*hr config*/
hr {
  background-color: var(--h1-color);
  height: 1px;
  border: none;
}

/*fim - hr config*/

/*icones do footer*/
.social-media {
  display: flex;
  justify-content: center;
  gap: 10px 10px;
}

.social-media a {
  width: 40px;
  height: 40px;
  background: var(--header-color);
  color: var(--btn-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.4s;
  text-decoration: none;
}

.social-media a:hover {
  transform: scale(1.2);
  color: var(--header-color);
  background: var(--btn-color);
}

/*fim dos icones*/
/*fim do footer*/

/*media query - mobile*/
@media (max-width: 480px) {
  /*menu*/
  nav {
    width: 480px;
  }

  /*fim do menu*/

  /*section*/
  section {
    padding: 0;
  }

  #text-encode-decode {
    display: flex;
    flex-wrap: wrap;
    width: 414px;
    height: 481px;
  }

  .container {
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 329px;
    margin-top: 164px;
    margin-bottom: 64px;
  }

  /*textarea*/
  textarea {
    width: 450px !important;
    height: 229px !important;
    margin: 10px 6px;
    padding: 0;
  }

  .right-container {
    margin: 19px;
    width: 100%;
    height: 223px;
    left: 11px;
  }

  /*fim da section*/

  /*texto*/
  p {
    text-align: center;
    margin-top: 12px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Tommy";
  }

  /*fim do texto*/

  /*footer*/
  footer {
    margin: 0 auto;
    margin-top: 10rem;
  }

  hr {
    margin-top: 10px;
  }
}

/*fim de media query - mobile*/
